# Flutter
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
macos/Flutter/GeneratedPluginRegistrant.swift
flutter_*.png

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Dependency
pubspec.lock
